<div class="row bg-img">
  <div class=" loginCard">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-gr">
        <label for="email-login">email:</label>
        <input class="form-inp" type="text" id="email-login" />
      </div>
      <div class="form-gr m-0">
        <label for="password-login">password:</label>
        <input class="form-inp" type="password" id="password-login" />
      </div>
      <div class="form-gr">
        <button class="btn btn-primary loginBtn" type="submit">login</button>
      </div>
    </form>
    <div class="bt"></div>
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-gr">
        <label for="name-signup">name:</label>
        <input class="form-inp" type="text" id="name-signup" />
      </div>
      <div class="form-gr">
        <label for="email-signup">email:</label>
        <input class="form-inp" type="text" id="email-signup" />
      </div>
      <div class="form-gr">
        <label for="password-signup">password:</label>
        <input class="form-inp" type="password" id="password-signup" />
      </div>
      <div class="form-gr">
        <button class="btn btn-primary loginBtn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
