<div class='row'>
  <div class='col-md-6'>
    <h2>Messages</h2>

    <form class='form posts-message'>
      <div class='form-group'>
        <label for='name-post'>Name:</label>
        <input class='form-input' type='text' id='email-login' />
      </div>
      <div class='form-group'>
        <label for='message-post'>Message:</label>
        <input class='message-input' type='password' id='password-login' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Submit</button>
      </div>
    </form>
  </div>
</div>

<script src='./../public/js/posts.js'></script>